<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426052096626-6kj9c6q22scng4c34lg25glbp05a13b8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426052096626-6kj9c6q22scng4c34lg25glbp05a13b8</string>
	<key>API_KEY</key>
	<string>AIzaSyDViC-oNVDHMmXgRGKXzRgRVVff7kq-0aI</string>
	<key>GCM_SENDER_ID</key>
	<string>426052096626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.tru.sample.firebase-phone-auth-sim-swap-detection-ios</string>
	<key>PROJECT_ID</key>
	<string>iosfirebasetruid</string>
	<key>STORAGE_BUCKET</key>
	<string>iosfirebasetruid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426052096626:ios:e730210af02e25f99aa8eb</string>
</dict>
</plist>